[user]
	name = Dean Andreakis
  email = dean@deanware.com
[diff]
  external = difft
[init]
  templateDir = ~/.config/git/template/
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
